<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sticky-footer.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Lucian Musat</a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav">
                {% block navbar %}{% endblock %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

<footer class="footer">
    <div class="container">
            <a target="_blank" href="https://www.linkedin.com/in/lucian-musat/"><img src="{% static 'Linkedin.png' %}" onmouseover="this.src='{% static 'Linkedin_hover.png' %}';" onmouseout="this.src='{% static 'Linkedin.png' %}';"></a>
            <a target="_blank" href="https://github.com/lucianmusat"><img src="{% static 'Octocat.png' %}" onmouseover="this.src='{% static 'Octocat_hover.png' %}';" onmouseout="this.src='{% static 'Octocat.png' %}';"></a>
            <a target="_blank" href="https://www.openhub.net/accounts/lucianmusat"><img alt='Open Hub profile for Lucian Musat' border='0' height='24' src='https://www.openhub.net/accounts/lucianmusat/widgets/account_rank?format=gif' width='32'></a>
    </div>
</footer>
</body>
</html>